*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    background-color: rgb(0, 0, 36);
}

.container{
    width: 0.3rem;
}

.btn{
    background-color: rgb(66, 164, 66);
    color: white;
    padding: 0.984rem 4.989rem;
    border-radius: 3.94rem;
    border: none;
    font-size: 17px;
    margin-right: 10px;
    transition: 0.5s ease-in-out;
}
.btn:hover{
    background: rgb(41, 102, 41);
}
form input{
    display: block;
    padding: 0.94rem 1.595rem;
    border-radius: 2.94rem;
    border: none;
    outline: none;
    margin: 0.95rem;
}
form input:focus{
    border: none;
    outline: none;
}



@media (min-width: 420px) {
    .container{
        width: 45%;
    }
}
@media (min-width: 660px) {
    .container{
        width: 30%;
    }
}
@media (min-width: 820px) {
    .container{
        width: 20%;
    }
}
@media (min-width: 1111px) {
    .container{
        width: 16%;
    }
}
@media (min-width: 1240px) {
    .container{
        width: 20%;
    }
}
